In [1]:
import numpy as np
import pandas as pd
from sklearn import svm, tree
from sklearn.preprocessing import LabelEncoder

path_train = '/home/fraga/Documents/Kaggle-Competitions/Titanic/titanic/train.csv'
path_test = '/home/fraga/Documents/Kaggle-Competitions/Titanic/titanic/test.csv'

In [2]:
train_df = pd.read_csv(path_train, index_col = 'PassengerId')
train_df.head(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [3]:
train_df.isna().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [4]:
def process_train(df):
    y_train = df["Survived"]
    del df["Survived"]
    del df["Name"]
    del df["Cabin"]
    
    # Fill nas
    df["Embarked"].fillna(method = 'ffill', inplace = True)
    age_mean = np.nanmean(np.asarray(df["Age"]))
    df["Age"].fillna(value = age_mean, inplace = True)
    
    # Encode labels
    label_cols = ['Sex','Ticket', 'Embarked']    
    encoder = LabelEncoder()
    encoded = df[label_cols].apply(encoder.fit_transform)
    
    data = df[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']].join(encoded)
    
    #age_mean = np.mean(df['Age'])
    #age_sd = np.std(df['Age'])
    #data['Age'] = (data['Age'] - age_mean) / age_sd
    
    #fare_mean = np.mean(df['Fare'])
    #fare_sd = np.std(df['Fare'])
    #data['Fare'] = (data['Fare'] - fare_mean) / fare_sd
    
    return data, y_train

In [5]:
train_df, y_train = process_train(train_df)
train_df.head(60)

             Pclass        Age  SibSp  Parch      Fare  Sex  Ticket  Embarked
PassengerId
1                 3  22.000000      1      0    7.2500    1     523         2
2                 1  38.000000      1      0   71.2833    0     596         0
3                 3  26.000000      0      0    7.9250    0     669         2
4                 1  35.000000      1      0   53.1000    0      49         2
5                 3  35.000000      0      0    8.0500    1     472         2
6                 3  29.699118      0      0    8.4583    1     275         1
7                 1  54.000000      0      0   51.8625    1      85         2
8                 3   2.000000      3      1   21.0750    1     395         2
9                 3  27.000000      0      2   11.1333    0     344         2
10                2  14.000000      1      0   30.0708    0     132         0
11                3   4.000000      1      1   16.7000    0     616         2
12                1  58.000000      0      0   26.5500    0      38         2
13                3  20.000000      0      0    8.0500    1     535         2
14                3  39.000000      1      5   31.2750    1     333         2
15                3  14.000000      0      0    7.8542    0     413         2
16                2  55.000000      0      0   16.0000    0     153         2
17                3   2.000000      4      1   29.1250    1     480         1
18                2  29.699118      0      0   13.0000    1     151         2
19                3  31.000000      1      0   18.0000    0     301         2
20                3  29.699118      0      0    7.2250    0     184         0
21                2  35.000000      0      0   26.0000    1     139         2
22                2  34.000000      0      0   13.0000    1     152         2
23                3  15.000000      0      0    8.0292    0     278         1
24                1  28.000000      0      0   35.5000    1      42         2
25                3   8.000000      3      1   21.0750    0     395         2
26                3  38.000000      1      5   31.3875    0     329         2
27                3  29.699118      0      0    7.2250    1     179         0
28                1  19.000000      3      2  263.0000    1      95         2
29                3  29.699118      0      0    7.8792    0     283         1
30                3  29.699118      0      0    7.8958    1     362         2
31                1  40.000000      0      0   27.7208    1     598         0
32                1  29.699118      1      0  146.5208    0     586         0
33                3  29.699118      0      0    7.7500    0     288         1
34                2  66.000000      0      0   10.5000    1     549         2
35                1  28.000000      1      0   82.1708    1     600         0
36                1  42.000000      1      0   52.0000    1      43         2
37                3  29.699118      0      0    7.2292    1     202         0
38                3  21.000000      0      0    8.0500    1     514         2
39                3  18.000000      2      0   18.0000    0     302         2
40                3  14.000000      1      0   11.2417    0     186         0
41                3  40.000000      1      0    9.4750    0     507         2
42                2  27.000000      1      0   21.0000    0      53         2
43                3  29.699118      0      0    7.8958    1     391         0
44                2   3.000000      1      2   41.5792    0     634         0
45                3  19.000000      0      0    7.8792    0     282         1
46                3  29.699118      0      0    8.0500    1     617         2
47                3  29.699118      1      0   15.5000    1     462         1
48                3  29.699118      0      0    7.7500    0      76         1
49                3  29.699118      2      0   21.6792    1     190         0
50                3  18.000000      1      0   17.8000    0     377         2
51                3   7.000000      4      1   39.6875    1     249         2
52                3  21.000000      0      0    7.8000    1     522         2
53                1  49.000000      1      0   76.7292    0     587         0
54                2  29.000000      1      0   26.0000    0     239         2
55                1  65.000000      0      1   61.9792    1      29         0
56                1  29.699118      0      0   35.5000    1      94         2
57                2  21.000000      0      0   10.5000    0     555         2
58                3  28.500000      0      0    7.2292    1     215         0
59                2   5.000000      1      2   27.7500    0     561         2
60                3  11.000000      5      2   46.9000    1     566         2

In [6]:
train_df.isna().sum()

Pclass      0
Age         0
SibSp       0
Parch       0
Fare        0
Sex         0
Ticket      0
Embarked    0
dtype: int64

In [7]:
test_df = pd.read_csv(path_test, index_col = 'PassengerId')
test_df.head(10)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [8]:
test_df.isna().sum()

Pclass        0
Name          0
Sex           0
Age          86
SibSp         0
Parch         0
Ticket        0
Fare          1
Cabin       327
Embarked      0
dtype: int64

In [9]:
def process_test(df):
    del df["Name"]
    del df["Cabin"]
    
    age_mean = np.nanmean(np.asarray(df["Age"]))
    df["Age"].fillna(value = age_mean, inplace = True)
    
    fare_mean = np.nanmean(np.asarray(df["Fare"]))
    df["Fare"].fillna(value = fare_mean, inplace = True)
    
    # Encode labels
    label_cols = ['Sex','Ticket', 'Embarked']    
    encoder = LabelEncoder()
    encoded = df[label_cols].apply(encoder.fit_transform)
    
    data = df[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']].join(encoded)
    
    #age_mean = np.mean(df['Age'])
    #age_sd = np.std(df['Age'])
    #data['Age'] = (data['Age'] - age_mean) / age_sd
    
    #fare_mean = np.mean(df['Fare'])
    #fare_sd = np.std(df['Fare'])
    #data['Fare'] = (data['Fare'] - fare_mean) / fare_sd
    
    return data

In [10]:
test_df = process_test(test_df)
test_df.isna().sum()

Pclass      0
Age         0
SibSp       0
Parch       0
Fare        0
Sex         0
Ticket      0
Embarked    0
dtype: int64

In [11]:
test_df.head(50)

             Pclass       Age  SibSp  Parch      Fare  Sex  Ticket  Embarked
PassengerId
892               3  34.50000      0      0    7.8292    1     152         1
893               3  47.00000      1      0    7.0000    0     221         2
894               2  62.00000      0      0    9.6875    1      73         1
895               3  27.00000      0      0    8.6625    1     147         2
896               3  22.00000      1      1   12.2875    0     138         2
897               3  14.00000      0      0    9.2250    1     261         2
898               3  30.00000      0      0    7.6292    0     158         1
899               2  26.00000      1      1   29.0000    1      84         2
900               3  18.00000      0      0    7.2292    0     100         0
901               3  21.00000      2      0   24.1500    1     269         2
902               3  30.27259      0      0    7.8958    1     195         2
903               1  46.00000      0      0   26.0000    1     259         2
904               1  23.00000      1      0   82.2667    0      52         2
905               2  63.00000      1      0   26.0000    1      74         2
906               1  47.00000      1      0   61.1750    0     362         2
907               2  24.00000      1      0   27.7208    0     343         0
908               2  35.00000      0      0   12.3500    1      60         1
909               3  21.00000      0      0    7.2250    1     119         0
910               3  27.00000      1      0    7.9250    0     356         2
911               3  45.00000      0      0    7.2250    0     120         0
912               1  55.00000      1      0   59.4000    1     316         0
913               3   9.00000      0      1    3.1708    1     277         2
914               1  30.27259      0      0   31.6833    0     314         2
915               1  21.00000      0      1   61.3792    1     313         0
916               1  48.00000      1      3  262.3750    0     319         0
917               3  50.00000      1      0   14.5000    1     273         2
918               1  22.00000      0      1   61.9792    0      14         0
919               3  22.50000      0      0    7.2250    1     121         0
920               1  41.00000      0      0   30.5000    1      11         2
921               3  30.27259      2      0   21.6792    1     104         0
922               2  50.00000      1      0   26.0000    1     338         2
923               2  24.00000      2      0   31.5000    1     283         2
924               3  33.00000      1      2   20.5750    0     280         2
925               3  30.27259      1      2   23.4500    0     360         2
926               1  30.00000      1      0   57.7500    1      34         0
927               3  18.50000      0      0    7.2292    1     115         0
928               3  30.27259      0      0    8.0500    0     166         2
929               3  21.00000      0      0    8.6625    0     141         2
930               3  25.00000      0      0    9.5000    1     172         2
931               3  30.27259      0      0   56.4958    1      39         2
932               3  39.00000      0      1   13.4167    1     204         0
933               1  30.27259      0      0   26.5500    1      16         2
934               3  41.00000      0      0    7.8500    1     347         2
935               2  30.00000      0      0   13.0000    0      65         2
936               1  45.00000      1      0   52.5542    0      24         2
937               3  25.00000      0      0    7.9250    1     355         2
938               1  45.00000      0      0   29.7000    1     312         0
939               3  30.27259      0      0    7.7500    1     243         1
940               1  60.00000      0      0   76.2917    0      30         0
941               3  36.00000      0      2   15.9000    0     290         2

In [26]:
def make_submission(train_df, y_train, test_df, arch):
    if(arch == 'svm'):
        model = svm.SVR()
    elif(arch == 'rf'):
        model = tree.DecisionTreeClassifier(criterion = 'entropy', max_depth = 2)
    
    model.fit(train_df, y_train)
    
    predictions = model.predict(test_df)
    submision = []

    for predict in predictions:
        if(predict > 0.5):
            submision.append(1)

        else:
            submision.append(0)

    ind = [i for i in range(892, 1310)]
    
    data = {'PassengerId': ind,
        'Survived': submision
    }

    result = pd.DataFrame(data, columns = ['PassengerId', 'Survived'])
    result.to_csv('number 12.csv', index = False)

In [27]:
make_submission(train_df, y_train, test_df, 'rf')